.content{

    .w-75 {
        min-width:75%;
        max-width:75%;
    }
    .w-25 {
        min-width:25%;
        max-width:25%;
    }
    .padding-2 {
        padding:1.5rem!important;;
    }
    .responsive-box {
        min-height: 500px;
        margin: 4px;
    }

    .mr-4 {
        margin-right: 1.5rem!important;
    }
    .basket-box {
        border: 1px solid gainsboro;
        border-radius:8px;
        padding:16px;
        min-height: 500px;
        max-height: 500px;
        overflow: scroll;
        margin: 2px;
    }

    @media (max-width: 800px) {
        .main-box {
          display:none;
          visibility: hidden;
  
        }
        .basket-content {
          display: none;
          visibility: hidden;
        }
  
        .w-75 {
          min-width:100%;
          max-width:100%;
        }
        .w-25 {
          display: none;
        }
  
        .w-100 {
            min-width:100%;
            max-width:100%;
        }
  
      }

    .w-100 {
        min-width:100%;
        max-width:100%;
    }
    .hr{
        border-bottom: 1px solid #ccc;
    }
    .hr-line {
        border-bottom: 2px solid #ccc;
      }

    .header{
        height: 350px;
        min-height: 350px;
        max-height: 350px;
        background-size:cover;

        .name{
            color: #fff;
        }
    }
    .profile {
        background-color: ghostwhite;
        border: 1px solid gainsboro;
    }
    
    .btn-attempt{
        text-transform: uppercase;
        color: #fff!important;
        background-color: #6e41c8;
     }

    .bold {
        font-weight:bold;
    }

    .main-box {
        min-height: 500px;
        margin: 4px;
    }

    .box {
        border: 1px solid gainsboro;
        border-radius:8px;
        padding:16px;
        min-height: 500px;
        max-height: 500px;
        overflow: scroll;
        margin: 2px;
    }
   
    .p-16{
        padding: 16px;
    }

    img.img-profile{
        border-radius: 50%;
        width: 170px;
        height: 150px;
        object-fit: cover;
    }
    .pl-10 {
        padding-left: 10%;
    }

    .medias {
        width: 100%;
        // max-width: 1300px;
        margin: 0 auto;

        .no-medias {
            font-size: 24px;
            margin: 24px 0;
            text-align: center;
        }

        .media {
            padding: 16px;

            // &:hover {

            //     .media-content {
            //         border: none;
            //     }
            // }       
            img ,.mat-video{
                // width: 200px;
                height: 150px;
                align-content: center;
                cursor: pointer;
            }
            .media-content {
                min-height: 360px;
                max-height: 360px;
                border-radius: 11px;
                overflow: hidden;
                border: 1px solid gainsboro;

                .content {
                    // padding: 16px;
                    // font-weight: 300;

                    .h1 {
                        font-size: 16px;
                        font-weight: bold;
                        text-align: start;
                        padding: 4px;
                    }

                    .p-4{
                        padding: 8px;
                    }
                    .fw-100 {
                        font-weight: 100;
                        padding: 4px;
                    }
                    .text {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* number of lines to show */
                        -webkit-box-orient: vertical;
                     }
                }

                .footer {
                    padding: 16px;
                    height: 48px !important;
                    min-height: 48px !important;
                    max-height: 48px !important;
                    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
                }
            }
        }
    }   

}
