<!-- <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="20px" class="footer">
    <div fxLayout="column" fxLayoutAlign="space-around center" class="pl-20" fxFlex="50">
      <div fxShow="true" fxHide.lt-md="true">
        <span><img src="./assets/lmc_logo_white.png" class="image" style="width: 75%;"></span>
      </div>
      <div fxShow="true" fxHide.gt-sm="true">
            <span><img src="./assets/lmc_logo_white.png" class="image" style="width: 75%;"></span>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around start" class="pl-20" fxFlex="50">
      <h2>Contact Us</h2>
      <p>About us</p>
      <p>Phone: +447988188825</p>
      <p>Email:ali@localmasterchefs.com</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around start" class="pl-20" fxFlex="50">
      <h2>Customers</h2>
      <a href="/customer-login">Login</a>
      <a href="/customer-signup">Signup</a>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around start" class="pl-20" fxFlex="50">
      <h2>Chefs</h2>
      <a href="/chefs-login">Login</a>
      <a href="/become-chefs">Become a chef</a>
    </div>
   
  </div> -->

<footer>
    <div class = "container-fluid footer-dark">
      <div class = "row py-3">
          <div class = "col-lg-3 col-md-6 col-12">
              <img src = "assets/lmc_logo_white.png" class = "img-fluid" style = "width : 250px;">
          </div>
          <!--/. col -->
          <div class = "col-lg-3 col-md-6 col-12">
              <h2 class = "pt-3 text-white"><b>Contact</b></h2>
              <p class = "mb-2"><a href = "#" class = "text-white">About Us</a></p>
              <p class = "mb-2"><a href = "tel:+447988188825" class = "text-white">Phone:+447988188825</a></p>
              <p class = "mb-2"><a href = "mailto:ali@localmasterchefs.com" class = "text-white">Email:ali@localmasterchefs.com</a></p>
          </div>
          <!--/. col -->
          <div class = "col-lg-3 col-md-6 col-12">
              <h2 class = "pt-3 text-white"><b>Customers</b></h2>
              <p class = "mb-2"><a (click)="customerLogin()" class = "text-white">Login</a></p>
              <p class = "mb-2"><a href="/customer-signup" class = "text-white">Signup</a></p>
          </div>
          <!--/. col -->
          <div class = "col-lg-3 col-md-6 col-12">
              <h2 class = "pt-3 text-white"><b>Chefs</b></h2>
              <p class = "mb-2"><a href="/chef-login" class = "text-white">Login</a></p>
              <p class = "mb-2"><a href="/become-chefs" class = "text-white">Become a chef</a></p>
          </div>
          <!--/. col -->
      </div>
      <!--/. row -->
    </div>
</footer>
