<app-loader *ngIf="showLoader"></app-loader>
<div class="userTitleMainDiv">
    <h1 class="userTitle">Viewing {{userInfo.first_name}} {{userInfo.second_name}}</h1>
    
        <button mat-button [matMenuTriggerFor]="menu">
            <!-- <img src="/assets/images/menuicon/419-4190179_menu-vertical-icon-android-menu-icon-png.png" class="menustyle" alt=""> -->
            <mat-icon class="secondary-text">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/admin/chefs/profile', userInfo.id]" routerLink="/chefs/profile">Profile</button>
            <button mat-menu-item routerLink="/admin/home" [queryParams]="{ chef_id: userInfo.id}">Home</button>
            <button mat-menu-item [routerLink]="['/admin/chefs/productBychefId', userInfo.id]" routerLink="/chefs/productBychefId">Product</button>
            <button mat-menu-item [routerLink]="['/admin/chefs/menuByChefid', userInfo.id]" routerLink="/chefs/menuByChefid">Menu</button>
            <button mat-menu-item routerLink="/admin/chefs/OrderOfChef" [queryParams]="{ chef_id: userInfo.id }">Order</button>
            <button mat-menu-item  [routerLink]="['/admin/chefs/schedules', userInfo.id ]" routerLink="/schedules">Schedule</button>
            <button mat-menu-item routerLink="/admin/chefs/ChefPayment" [queryParams]="{ chef_id: userInfo.id }">Payments</button>
          </mat-menu>
   
</div>
<div class="mat-elevation-z8" *ngIf="!showLoader">

    <table mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)">

        <ng-container [matColumnDef]="column.columnDef" *ngFor="let column of columns">
            <th mat-header-cell *matHeaderCellDef>{{column.header}}</th>
            
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="column.columnDef!=='status'">
                        {{element[column.columnDef]}}
                    </span>
                    <span *ngIf="column.columnDef==='status'">
                        <mat-form-field appearance="outline">
                            <mat-select [disabled]="element.statusName === 'COMPLETE'" [(ngModel)]="element.status" (selectionChange)="statusChange($event,element.id)">
                                <mat-option *ngFor="let status of statusList" [value]="status.id" >
                                    {{status.status}}
                                </mat-option>
                            </mat-select>
                            <!-- Above IS Original Code -->
                            <!-- <mat-select  [(ngModel)]="element.status" (selectionChange)="statusChange($event,element.id)">
                                <mat-option *ngFor="let status of statusList" [value]="status.id" >
                                    {{status.status}}
                                </mat-option>
                            </mat-select> -->
                          </mat-form-field>
                    </span>
                </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <div *ngIf="tableContents.length === 0">No records found.</div>
  
    <mat-paginator 
      [length]="length"
      [pageSize]="pageSize"
      (page)="getNextPrevious($event)"
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons>
    </mat-paginator>
  
  </div>