<!-- <div class="column">
    <div fxLayout="row" fxLayoutAlign="start start" class="p-5">
        <h3 class="w-20">Payments configured</h3>
        <div *ngIf="payment_status.payouts_enabled">
            <mat-icon [ngStyle]="{'background-color':'green'}">check</mat-icon>
        </div>
        <div *ngIf="!payment_status.payouts_enabled">
            <mat-icon [ngStyle]="{'background-color':'red'}">close</mat-icon>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" class="p-5">
        <button mat-raised-button type="submit" color="primary" (click)="paymentSignup()"
            [disabled]="payments_signup_disabled">
            <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>Setup payments</button>
    </div>
</div> -->

<app-loader *ngIf="showLoader"></app-loader>
<div class="container-fluid" [style.visibility]="show_main_content">
    <div class="row">
        <div class="col-md-4">
            <div class="card basic-card">
                <div class="basic-header">
                    <div class="basic-header-content">
                        <div class="basic-title">
                            Current payment status
                        </div>
                    </div>
                </div>
                <div class="card-content row">
                    <div *ngIf="payment_status.payouts_enabled" class="done-flag">DONE</div>
                    <div *ngIf="!payment_status.payouts_enabled" class="required-flag">REQUIRED</div>
                </div>
                <div class="basic-header"></div>
                <div class="card-content">
                    <div class="card-product-price">
                        <button mat-raised-button type="submit" color="primary" (click)="paymentSignup()"
                            [disabled]="payments_signup_disabled">
                            <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>Setup payments</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>