
<div fxLayout="column">
    <div class="header-section" fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="row" fxLayoutGap="15px">
            <span class="bold">{{message}}</span>
        </div> 
        <mat-icon class="icon bold" (click)="dialogRef.close('N');">close</mat-icon>
     </div>
     <div id="login" fxLayout="column">

        <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center start">
    
            <div id="login-form">

                <div *ngIf="data.type==='minimumorder'">
                    <form fxLayot="column" [formGroup]="editMinimumOrderForm">

                        <mat-form-field  appearance="outline">
                            <mat-label>Minimum Order</mat-label>
                            <input matInput formControlName="minimum_order" (blur)="transformAmount($event)">
                            <mat-error *ngIf="editMinimumOrderForm.get('minimum_order').hasError('required')">
                                Minimum Order is required
                            </mat-error>
                            <mat-error *ngIf="!editMinimumOrderForm.get('minimum_order').hasError('required') && 
                            editMinimumOrderForm.get('minimum_order').hasError('pattern')">
                                Only numbers allowed
                            </mat-error>
                        
                        </mat-form-field>
        
                        <button mat-raised-button color="primary" class="submit-button" aria-label="LOG IN"
                        (click)="mimimumOrderSubmit($event)" [disabled]="isSubmit">
                        <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>
                        SUBMIT
                        </button>

                    </form>
                </div>
                <div *ngIf="data.type==='email'">
                    <form fxLayot="column" [formGroup]="editEmailForm">

                        <mat-form-field  appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email">
                            <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                            <mat-error>
                                Email is required
                            </mat-error>
                        
                        </mat-form-field>
        
                        <button mat-raised-button color="primary" class="submit-button" aria-label="LOG IN"
                        (click)="emailSubmit($event)" [disabled]="isSubmit">
                        <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>
                        SUBMIT
                        </button>

                    </form>
                </div>
                <div *ngIf="data.type==='password'">
                    <form fxLayot="column" [formGroup]="editPasswordForm">

                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password" placeholder="password" [type]="pwdhide ? 'password' : 'text'">
                            <button type="button" mat-icon-button matSuffix (click)="pwdhide = !pwdhide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pwdhide">
                            <mat-icon  matSuffix class="secondary-text">{{pwdhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="editPasswordForm.get('password').hasError('required')">
                                New password required
                            </mat-error>
                            <mat-error *ngIf="!editPasswordForm.get('password').hasError('required') && 
                            editPasswordForm.get('password').hasError('minlength')">
                                      Minimum length of password is 8
                            </mat-error>
                            
                        </mat-form-field>
        
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput type="password" formControlName="confirm_password" placeholder=" confirm password" [type]="cpwdhide ? 'password' : 'text'">
                            <button type="button" mat-icon-button matSuffix (click)="cpwdhide = !cpwdhide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="cpwdhide">
                            <mat-icon  matSuffix class="secondary-text">{{cpwdhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="editPasswordForm.get('confirm_password').hasError('required')"> 
                                Confirm password required
                            </mat-error>
                            <mat-error *ngIf="!editPasswordForm.get('confirm_password').hasError('required') &&
                                    editPasswordForm.get('confirm_password').hasError('passwordsNotMatching')">
                                Password must match
                            </mat-error>
                            
                        </mat-form-field>
        
        
                        <button mat-raised-button color="primary" class="submit-button" aria-label="LOG IN"
                        (click)="passwordSubmit($event)" [disabled]="isSubmit">
                        <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>SUBMIT
                        </button>

                    </form>
                </div>
                <div *ngIf="data.type==='phoneNo'">
                    <form fxLayot="column" [formGroup]="editPhoneNoForm">

                        <mat-form-field appearance="outline">
                            <input matInput formControlName="phone_number">
                            <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                            <mat-error *ngIf="editPhoneNoForm.get('phone_number').hasError('required')">
                                Phone no is required
                            </mat-error>
                            <mat-error *ngIf="!editPhoneNoForm.get('phone_number').hasError('required') && 
                                    editPhoneNoForm.get('phone_number').hasError('pattern')">
                                Please, Enter 10 digit Mobile Number.
                            </mat-error>
                        
                        </mat-form-field>
        
                        <button mat-raised-button color="primary" class="submit-button" aria-label="LOG IN"
                        (click)="phoneNoSubmit($event)" [disabled]="isSubmit">
                        <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>SUBMIT
                        </button>

                    </form>
                </div>
                <div *ngIf="data.type==='address'">
                    <form fxLayot="column" [formGroup]="editStoreAddressForm">

                        <mat-form-field appearance="outline">
                            <mat-label>Address 1</mat-label>
                            <textarea matInput formControlName="address_1" placeholder=""></textarea>
                            <mat-error>
                                Address is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Address 2</mat-label>
                            <textarea matInput formControlName="address_2" placeholder=""></textarea>

                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Address 3</mat-label>
                            <textarea matInput formControlName="address_3" placeholder=""></textarea>

                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>City</mat-label>
                            <input matInput formControlName="city">
                            <mat-error>City is required</mat-error>
                          
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Country</mat-label>
                            <input matInput formControlName="country">
                            <mat-error>Country is required</mat-error>
                          
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Postcode</mat-label>
                            <input  matInput formControlName="postcode">
                            <mat-error *ngIf="editStoreAddressForm.get('postcode').hasError('required')">
                                Postcode is required
                            </mat-error>
                            <mat-error *ngIf="!editStoreAddressForm.get('postcode').hasError('required') && 
                            !editStoreAddressForm.get('postcode').hasError('pattern') &&
                            editStoreAddressForm.get('postcode').hasError('minlength') ||
                            editStoreAddressForm.get('postcode').hasError('maxlength')">
                                      Postcode should be between 6 and 8 chars
                            </mat-error>
                           
                        </mat-form-field>
        
                        <button mat-raised-button color="primary" class="submit-button" aria-label="LOG IN"
                        (click)="storeAddressSubmit($event)" [disabled]="isSubmit">
                        <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>SUBMIT
                        </button>

                    </form>

                </div>
                <div *ngIf="data.type==='biography'">
                    <form fxLayot="column" [formGroup]="editBiographyForm">

                        <mat-form-field appearance="outline">
                            <mat-label>Biography</mat-label>
                            <textarea matInput formControlName="biography" placeholder=""></textarea>

                            <mat-error *ngIf="editBiographyForm.get('biography').hasError('required')">
                                Biography is required
                            </mat-error>
                            <mat-error *ngIf="!editBiographyForm.get('biography').hasError('required') && 
                            editBiographyForm.get('biography').hasError('minlength')">
                                Please, Enter minimum 120 characters.
                            </mat-error>
                        </mat-form-field>
        
                        <button mat-raised-button color="primary" class="submit-button" aria-label="LOG IN"
                        (click)="biographySubmit($event)" [disabled]="isSubmit"> <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                        <i class="fa fa-spinner fa-spin"  *ngIf="loader"></i>SUBMIT
                        </button>

                    </form>
                </div>
                <div *ngIf="data.type==='profile' || data.type==='banner'">
                    <input  hidden 
                            #inputfile
                            type="file"
                            (change)="fileChangeEvent($event)"
                            [accept]="inputAccpets"
                            />
                    <div class="btn mb-4">
                        <button type="button" mat-stroked-button color="primary" 
                         class="mr-12" (click)="inputfile.click();" >Upload</button>
                        <button type="button" mat-stroked-button color="warn" *ngIf="tmp_avatar_img !== '' && tmp_avatar_img"
                         (click)="RemovePicture()">Remove</button>
                    </div>
                    <div class="logo-preview pb-12 pt-12" *ngIf="tmp_avatar_img !== '' && tmp_avatar_img">
                        <img style="width: 50%;" [src]="tmp_avatar_img" *ngIf="tmp_avatar_img !== '' && tmp_avatar_img" />
                    </div>
                </div>
                
                <div *ngIf="data.type==='cuisine'">
                    <app-loader *ngIf="showLoader"></app-loader>
                    <form fxLayot="column" [formGroup]="editCuisineForm" *ngIf="!showLoader">

                        <mat-form-field appearance="outline">
                            <mat-label>Cuisine Options</mat-label>
                            <mat-select formControlName="cuisines" placeholder="Cuisines" [multiple]="true" #multiSelect>
                                <mat-option>
                                    <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No Cuisine Found"
                                     [formControl]="cuisineMultiFilterCtrl"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let cuisine of filteredCuisinesMulti | async " [value]="cuisine.id" >
                                    {{cuisine.name}}
                                </mat-option>
                            </mat-select>
                          </mat-form-field>
        
                        <button mat-raised-button color="primary" class="submit-button" aria-label="LOG IN"
                        (click)="CuisineSubmit($event)" [disabled]="isSubmit">
                        <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>SUBMIT
                        </button>

                    </form>
                </div>    
                <div *ngIf="data.type==='collectionDelivery'">
                    <form fxLayot="column" [formGroup]="editCollectionDeliveryForm">

                        <div class="p-4" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="40px">
                            <p class="bold">Collection</p>
                            <mat-slide-toggle color="primary" formControlName="collection"></mat-slide-toggle>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="p-4" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="55px">
                            <p class="bold">Delivery</p>
                            <mat-slide-toggle color="primary" formControlName="delivery"></mat-slide-toggle>
                        </div>
        
                        <button mat-raised-button color="primary" class="submit-button" aria-label="LOG IN"
                        (click)="collectionDeliverySubmit($event)" [disabled]="isSubmit">
                        <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>SUBMIT
                        </button>

                    </form>
                </div>       
                <div *ngIf="data.type==='collection' || data.type==='delivery'">
                    <form fxLayot="column" [formGroup]="editCollectionForm">
                      
                        <div class="p-4" *ngFor="let content of editCollectionForm.get('slots')?.controls;let index = index;" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px">
                            <ng-container *ngIf="index<4; else endLimit">
                                <mat-form-field appearance="outline" fxFlex="40">
                                    <mat-label>Start slot</mat-label>
                                    <mat-select [formControl]="content.get('start')" placeholder="start" (selectionChange)="startSlotsChange($event,index)">
                                        <mat-option *ngFor="let slot of content.get('startSlotsList').value" [value]="slot" >
                                            {{slot}} : 00
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex="40">
                                    <mat-label>End slot</mat-label>
                                    <mat-select [formControl]="content.get('end')" placeholder="end">
                                        <mat-option *ngFor="let slot of content.get('endSlotsList').value " [value]="slot" >
                                            {{slot}} : 00
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div fxFlex="10">
                                    <i class="material-icons icon-size" *ngIf="slots.length < 4" (click)="onAddSelectRow(slots.length)" matTooltip="Add New">
                                        add_circle_outline
                                    </i>
                                    <i class="material-icons icon-size" 
                                        *ngIf="slots.length > 1"
                                        (click)="onRemoveRow(index)" matTooltip="Delete">
                                    delete_sweep
                                    </i>
                                </div>
                            </ng-container>
                            <!-- <ng-template #endLimit>
                                <div class="red" *ngIf="index===4">You can have up to 4 slots</div>
                            </ng-template> -->
                        </div>
                        
                        <button mat-raised-button color="primary" class="submit-button" aria-label="LOG IN"
                        (click)="collectionSubmit($event)" [disabled]="isSubmit">
                        <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>SUBMIT
                        </button>

                    </form>
                </div>                
            </div>
            
        </div>
    </div>
</div>

