
<app-loader *ngIf="showLoader"></app-loader>
<div class="dialog-content-wrapper"  *ngIf="!showLoader">

    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title"><h2>{{dialogTitle}}</h2></span>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="p-16 pb-0 m-0">

        <form name="eventForm" [formGroup]="eventForm" class="event-form w-100-p" fxLayout="column" fxFlex>

            <mat-form-field appearance="outline">
                <mat-label>Select Menu</mat-label>
                <mat-select formControlName="menu_id"  (selectionChange)="changeMenuSelection($event.value)">
                    <mat-option *ngFor="let menu of menuList" [value]="menu.id">
                    {{menu.name}}                    
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="eventForm.get('menu_id').hasError('required')">
                    Please, select menu
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="100">
                <mat-label>Available date</mat-label>
                <input matInput [matDatepicker]="startDatePicker" name="available_date" 
                [min]="startDate" [max]="endDate" formControlName="available_date" readonly="true">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker" ></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker [startAt]="startDate"></mat-datepicker>
                <mat-error *ngIf="eventForm.get('available_date').hasError('required')">
                    Please, select date
                </mat-error>
            </mat-form-field>

            <mat-radio-group aria-label="Select an option" formControlName="public" color="primary">
                <mat-radio-button [value]="true" class="pl-10">Public</mat-radio-button>
                <mat-radio-button [value]="false"> Non Public</mat-radio-button>
            </mat-radio-group>

            <div>
              <table class="w-100">
                  <tr class="border-bottom"><td>Inventory specification</td></tr>
                  <mat-divider></mat-divider>
                  <tr>
                      <td>Product</td>
                      <td>Limited</td>
                      <td>Count</td>
                      <td></td>
                  </tr>
                  <!-- <tr> <div class="hr"></div></tr> -->
                  <mat-divider></mat-divider>
                  <tr *ngFor="let inventory of inventoriesList;let i=index;">
                      <td><mat-label>{{inventory.name}}</mat-label></td>
                      <td><mat-slide-toggle color="primary" (change)="changeLimited($event,i)" [checked]="inventory.limited" name="enableWifi"></mat-slide-toggle></td>
                      <td>
                        <!-- *ngIf="inventory.limited" -->
                          <div *ngIf="inventory.limited">
                            <!-- <span class="material-icons icon" (click)="changeCount('add',i)">remove_circle_outline</span>
                            <span>{{inventory.count}}</span>
                            <span class="material-icons icon" (click)="changeCount('remove',i)">add_circle_outline</span> -->
                            <mat-form-field appearance="outline" class="w-50">
                                <input matInput type="number" (input)="changeCount($event,i)" value="{{inventory.count}}" placeholder="">
                            </mat-form-field>
                          </div>
                      </td>
                      <td><mat-icon  (click)="removeInventory(i)">restore</mat-icon></td>
                      <div class="hr"></div>
                  </tr>
                  <tr *ngIf="inventoriesList.length === 0">No Product is assigned to selected menu.</tr>
                  
              </table>  
            </div>
           
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action ==='edit'"
                mat-button color="primary"
                class="mr-8"
                (click)="matDialogRef.close(['delete',eventForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button color="primary"
                class="save-button"
                color="primary"
                (click)="onClickAdd($event)"
                [disabled]="isSubmit"
                aria-label="ADD">
                <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>
           ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button color="primary"
                class="save-button"
                (click)="matDialogRef.close(['save', eventForm])"
                [disabled]="isSubmit"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
