<div class="container-fluid">
    <div class="row pt-3 pl-md-4">
       
       
       <hr class="hr">
       <div class=" col-12 pt-3 mb-3">
        Order # 
       </div>
       <mat-divider></mat-divider>
       <div class=" col-12">
           <p>customer details</p>
           <p>Name:</p>
           <p>Email:</p>
           <p>Phone number:</p>
           <p>Address:</p>

           <mat-divider></mat-divider>

           <p>Payment details:</p>
           <p>Order total:</p>
           <p>Delivery cost:</p>
           <p>Promosional discount:</p>
           <p>Final total:</p>
           <p>Admin cummision:</p>
           <p>Chef earnings:</p>

           <mat-divider></mat-divider>

           <p>Order details:</p>
           <p>Store phone number:</p>
           <p>Order status:</p>
           <p>Order date:</p>
           <p>Order slot:</p>
           <p>Delivery/Collection:</p>
           <p>Chef earnings:</p>
           <p>Notes:</p>

           <mat-divider></mat-divider>

           <button class="btn btn-attempt btn-sm mt-3" type="button" (click)="viewOrder()">View order</button>
        </div>
    </div>
</div>