<app-view-chef-navbar></app-view-chef-navbar>
<!--/. navbar -->

<div class="container-fluid pt-3 p-0">
    <div class="col-12 px-5">
        <p>Success! Your order has now been completed successfully. </p>
    </div>
    <!--/.col-->

    <hr class="hr">

    <div class="col-12 px-5">
        <p><strong>Details:</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <p><strong>Order date:</strong> 08/03/2021</p>
        <p><strong>Delivery/Collection:</strong> Collection</p>
        <p><strong>Requested timeslot:</strong> 3PM to 5PM</p>
    </div>

    <hr class="hr">
    
    <div class="col-12 px-5">
        <p><strong>Ordered items:</strong> Pizza, Pepsi</p>        
    </div>
    <!--/.col-->

    <hr class="hr">

    <div class="col-12 px-5">
        <p><strong>Total Cost:</strong> RS 1000</p>        
    </div>
    <!--/.col-->
</div>
<!--/. container-fluid-->

<footer>
  <div class = "container-fluid footer-dark">
	<div class = "row py-3">
		<div class = "col-lg-3 col-md-6 col-12">
			<img src = "assets/lmc_logo_white.png" class = "img-fluid" style = "width : 200px;">
		</div>
		<!--/. col -->
		<div class = "col-lg-3 col-md-6 col-12">
			<h5 class = "pt-3 text-white"><b>Contact</b></h5>
			<p class = "mb-2"><a href = "#" class = "text-white">About Us</a></p>
			<p class = "mb-2"><a href = "tel:+447988188825" class = "text-white">Phone:+447988188825</a></p>
			<p class = "mb-2"><a href = "mailto:ali@localmasterchefs.com" class = "text-white">Email:ali@localmasterchefs.com</a></p>
		</div>
		<!--/. col -->
		<div class = "col-lg-3 col-md-6 col-12">
			<h5 class = "pt-3 text-white"><b>Customers</b></h5>
			<p class = "mb-2"><a href = "#" class = "text-white">Login</a></p>
			<p class = "mb-2"><a href = "#" class = "text-white">Signup</a></p>
		</div>
		<!--/. col -->
		<div class = "col-lg-3 col-md-6 col-12">
			<h5 class = "pt-3 text-white"><b>Chefs</b></h5>
			<p class = "mb-2"><a href = "#" class = "text-white">Login</a></p>
			<p class = "mb-2"><a href = "#" class = "text-white">Become a chef</a></p>
		</div>
		<!--/. col -->
	</div>
	<!--/. row -->
  </div>
</footer>
<!--/. footer -->
