<app-view-chef-navbar></app-view-chef-navbar>

<div class="container-fluid height-100 p-0">
<div class="row m-0 rowheight">
    <div class="col-xl-12 col-lg-12 col-12 mb-3 pl-lg-0 pr-lg-0 pt-3">
        <div class="row ml-md-4">
            <div class="col-md-12 col-12 pl-md-4">
                <p>Success! Your order has now been completed successfully. </p>
            </div>
            <!--/.col-->
            
        </div>
        <!--/.row-->

        <hr class="hr">
    
        <div class="col-12 px-md-5">
			<button class="btn btn-attempt btn-sm mt-3" type="button" [routerLink]="'/customer/orders'">My Orders</button>

        </div>
    </div>
    <!--/.col-->

</div>
<!--/.row-->
</div>
<!--/. container-fluid-->
<app-footer1></app-footer1>