
// .example-spacer {
//     flex: 1 1 auto;
// }
// .pl-18 {
//     padding: 18%;
// }
.btn-border {
    border: 1px solid white;
}
.bg-dark{
    background : #6e41c8!important;
}
.mr-8 {
    margin-right: 8px;
}
img {
    cursor: pointer;
}