.p-5 {
    padding: 5%;
}
.p-10 {
    padding: 10%;
}

.medias {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;

    .no-medias {
        font-size: 24px;
        margin: 24px 0;
        text-align: center;
    }

    .media {
        padding: 16px;

        &:hover {

            .media-content {
                border: none;
                // @include mat-elevation(12);
                border: 1px solid gainsboro;
            }
        }       

        .media-content {
            min-height: 240px;
            border-radius: 4px;
            overflow: hidden;
            transition: box-shadow 200ms ease-in-out;
            border: 1px solid gainsboro;

            .content {
                padding: 16px;

                .h1 {
                    font-size: 16px;
                    text-align: center;
                }
            }

            .footer {
                box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
            }
            mat-icon {
                cursor: pointer;
                padding-right: 5%;
                padding-top: 2%;
            }
        }
    }
}



