<app-loader *ngIf="showLoader"></app-loader>
<div class="container-fluid" [style.visibility]="show_main_content">
    <div class="row extend-row">
        <div class="col-lg-4" *ngFor="let menu of menuList">
            <div class="card basic-card">
                <div class="basic-header">
                    <div class="basic-header-content">
                        <div class="basic-title">
                            {{menu.name}}
                        </div>
                        <div class="card-edit-button">
                            <mat-icon (click)="openEditDialog(menu)">edit</mat-icon>
                            <mat-icon (click)="deleteSelectedMenu(menu.id)" color="warn">delete</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="card-content card-content-products">
                    <div *ngFor="let product of menu._products">
                        {{product.name}}
                    </div>
                </div>
                <div class="basic-header"></div>
                <div class="card-content">
                    <div class="card-product-description">
                        <p>{{menu.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="p-10" *ngIf="menuList.length===0">No Menu found.</div>
    </div>
    <div class="floating-add-btn">
        <button class="new-product-btn" mat-raised-button color="primary" (click)="openCreateMenuDialog()">
            <mat-icon class="new-product-icon">add</mat-icon>
        </button>
    </div>
</div>