<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

    <div id="login" fxLayout="column">

        <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="start start">

            <div fxLayout="column" fxLayoutAlign="center start">
                <img class = "pt-5" src="assets/sign-up preview.jpg" class = "img-height">
                <div fxLayout="column" fxLayoutAlign="center center" class = "text-center infodiv">
                    <p>Cinnabox:</p>
                    <p>Mixed Treat box for 4 ,that include cinnamon Rolls, Eclairs and Laaded pastries.</p>
                </div>
                
            </div>

        </div>

    </div>

    <div id="login" fxLayout="column">

        <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="start start">

            <div id="login-form" >

                <div class="title">Sign Up</div>
    
                <form [formGroup]="customersForm">
    
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="first_name">
                        <mat-icon matSuffix class="secondary-text">person</mat-icon>
                        <mat-error>
                            First Name is required
                        </mat-error>
                      
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="second_name">
                        <mat-icon matSuffix class="secondary-text">person</mat-icon>
                        <mat-error>
                            Last Name is required
                        </mat-error>
                      
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email"  #existsUsername>
                        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                        <mat-error>
                            {{userNameReqmsg}}
                        </mat-error>
                      
                    </mat-form-field>
                     <mat-form-field appearance="outline">
                        <mat-label>Phone No</mat-label>
    
                        <input matInput formControlName="phone_number" placeholder="+449087654321" #existsPhoneno>
                        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                        <mat-error>
                            {{phoneNoReqmsg}}
                        </mat-error>
                    
                    </mat-form-field>
                   
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" placeholder="password" [type]="pwdhide ? 'password' : 'text'">
                        <button type="button" mat-icon-button matSuffix (click)="pwdhide = !pwdhide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pwdhide">
                        <mat-icon  matSuffix class="secondary-text">{{pwdhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="customersForm.get('password').hasError('required')">
                            New password required
                        </mat-error>
                        <mat-error *ngIf="!customersForm.get('password').hasError('required') && 
                        customersForm.get('password').hasError('minlength')">
                                  Minimum length of password is 8
                        </mat-error>
                        
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirm_password" placeholder=" confirm password" [type]="cpwdhide ? 'password' : 'text'">
                        <button type="button" mat-icon-button matSuffix (click)="cpwdhide = !cpwdhide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="cpwdhide">
                        <mat-icon  matSuffix class="secondary-text">{{cpwdhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="customersForm.get('confirm_password').hasError('required')"> 
                            Confirm password required
                        </mat-error>
                        <mat-error *ngIf="!customersForm.get('confirm_password').hasError('required') &&
                        customersForm.get('confirm_password').hasError('passwordsNotMatching')">
                            Password must match
                        </mat-error>
                        
                    </mat-form-field>
    
    
                    <button mat-raised-button color="primary" class="submit-button" aria-label="LOG IN"
                    (click)="onSubmit($event)" [disabled]="isSubmit">
                        CREATE AN ACCOUNT
                    </button>
    
                </form>

                <div class="register" fxLayout="column" fxLayoutAlign="center center">
                    <p><span class="text">Already got an account?</span>
                    <a class="link text-dark ml-2" routerLink="/customer-signup">Sign in here</a></p>
                </div>
            </div>
        </div>

    </div>
    
</div>

<app-footer1></app-footer1>