
<app-loader *ngIf="showLoader"></app-loader>
<div fxLayout="column" *ngIf="!showLoader">
    <div fxLayout="row" fxLayoutAlign="start start" class="p-5">
        <button mat-raised-button type="submit" color="primary" (click)="openCreateProductDialog()">Create Product </button>
    </div>
    
    <!-- CONTENT -->
    <div class="content">
       
        <!-- CENTER -->
        <div class="center p-24 pb-56" >
            <!-- CONTENT -->
            <div class="content">
                <div class="medias" fxLayout="row wrap" fxLayoutAlign="start">

                    <div class="media" *ngFor="let product of productList" fxFlex="100" fxFlex.gt-xs="25"
                            fxFlex.gt-sm="25">
                        <!-- IMAGES  -->

                        <div class="media-content" fxLayout="column" fxFlex="1 1 auto">

                            <div class="footer" fxLayout="row" fxLayoutAlign="end start">
                                <mat-icon (click)="openEditDialog(product)">edit</mat-icon>
                                <mat-icon (click)="deleteSelectedProduct(product.id)" color="warn">delete</mat-icon>

                            </div>
    
                            <div  class="content" fxLayout="column" fxFlex="1 1 auto">
                                <img [src]="product._product_details?._product_media_of_product_details?.media_url?.url" [alt]="product._product_details.name">
                                    <div class="h1 pl-3 text-center pt-3"><b>{{product._product_details.name}}</b></div>
                            </div>
    
                            <div class="footer pt-4" fxLayout="row" fxLayoutAlign="center center">
                                
                                <div><p><b>Price:</b>{{(product._product_details.price / 100)  | currency:'GBP'}}</p></div>
                            </div>
                            <div class="footer pt-4" fxLayout="row" fxLayoutAlign="center center">
                                
                                <div class="text pl-3"><p>{{product._product_details.description}}...</p></div>
                            </div>
    
                        </div>
                        <!-- /IMAGES -->

                    </div>
                    
                </div>
               
           </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->
            <!-- IF NO PRODUCT IS FOUND -->
    <div fxLayout="row" fxLayoutAlign="center center" class="p-10"
    *ngIf="productList.length===0">No Product found.</div>

    </div>
    <!-- / CONTENT -->

</div> 