<app-loader *ngIf="showLoader"></app-loader>
<div class="container-fluid" [style.visibility]="show_main_content">
    <div class="row extend-row">
        <div class="col-lg-4" *ngFor="let product of productList">
            <div class="card basic-card">
                <div class="basic-header">
                    <div class="basic-header-content">
                        <div class="basic-title">
                            {{product._product_details.name}}
                        </div>
                        <div class="card-edit-button">
                            <mat-icon (click)="openEditDialog(product)">edit</mat-icon>
                            <mat-icon (click)="deleteSelectedProduct(product.id)" color="warn">delete</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="card-content row">
                    <img class="product-image"
                        [src]="product._product_details?._product_media_of_product_details?.media_url?.url"
                        [alt]="product._product_details.name">
                </div>
                <div class="basic-header"></div>
                <div class="card-content">
                    <div class="card-product-price">
                        {{(product._product_details.price / 100) | currency:'GBP'}}
                    </div>
                    <div class="card-product-description">
                        <p>{{product._product_details.description}}...</p>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="p-10" *ngIf="productList.length===0">No Product found.
        </div>
    </div>
    <div class="floating-add-btn">
        <button class="new-product-btn" mat-raised-button color="primary" (click)="openCreateProductDialog()">
            <mat-icon class="new-product-icon">add</mat-icon>
        </button>    
    </div>
</div>
