.p-3 {
    padding: 3%;
}
.hr{
    border-bottom: 1px solid #ccc;
  }
  .height-100{
    height: 70vh;
  }
.medias {
    width: 100%;
    // max-width: 1040px;
    margin: 0 auto;

    .no-medias {
        font-size: 24px;
        margin: 24px 0;
        text-align: center;
    }

    .media {
        padding: 16px;

        &:hover {

            .media-content {
                border: none;
                // @include mat-elevation(12);
                border: 1px solid gainsboro;
            }
        }       
        img ,.mat-video{
            width: 200px;
            height: 150px;
            align-content: center;
            cursor: pointer;
        }
        .media-content {
            min-height: 270px;
            border-radius: 15px;
            overflow: hidden;
            transition: box-shadow 200ms ease-in-out;
            border: 1px solid gainsboro;

            .content {
                padding: 16px;

                .h1 {
                    font-size: 16px;
                    text-align: center;
                }
            }
             .text-color {
                //  color: gray;
                 padding: 4px;
             }

            .footer {
                box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
            }
            mat-icon {
                cursor: pointer;
                padding-right: 5%;
                padding-top: 2%;
            }
            .pt-4 {
                padding-top: 4%;
            }
           
        }
    }
}
