
  .height-100{
    height: 70vh;
  }
  .mb-3 {
      margin-bottom: 3%;
  }
#login {
    width: 100%;

    #login-form-wrapper {
        flex: 1 0 auto;
        padding: 32px;

    
        #login-form {
            width: 384px;
            max-width: 384px;
            padding: 32px;
            text-align: center;

            .logo {
                width: 128px;
                margin: 32px auto;
            }

            .title {
                font-size: 20px;
                margin: 16px 0 32px 0;
            }

            form {
                width: 100%;
                text-align: left;

                mat-form-field {
                    width: 100%;
                }

                .submit-button {
                    width: 220px;
                    margin: 16px auto;
                    display: block;

                }
            }

            .register {
                margin: 32px auto 24px auto;
                font-weight: 600;

                .text {
                    margin-right: 8px;
                }
                .link {
                    color: blue;
                }
            }
        }
    }
}