.p-4{
    padding: 4%;
}
.p-2 {
    padding: 2%;
}

mat-icon {
    cursor: pointer;
}
table {
    width: 90%;
}
td {
    padding: 2%;
    // width: 50%;
}
.check {
    background-color: green;
    border-radius: 50%;
    color: white;
}
.ncheck {
    background-color: red;
    border-radius: 50%;
    color:white;
}
.logo-preview {
    width: 40%;
    height: 40%;
}