/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.userTitle{
    width: 93%;
    text-align: center !important;
}
.menustyle{
    height: 1rem;
}
.userTitleMainDiv{
    padding-top: 1rem;
    display: flex !important;
   
}

.btn-attempt{
    text-transform: uppercase;
    color: #fff!important;
    background-color: #6e41c8;
 }
.pl-8 {
    padding-left: 8%;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #6e41c8;
    border-radius: 50px;
}

.mat-toolbar.mat-primary {
    background: #6e41c8;
    color: #fff;
}

.mat-toolbar-multiple-rows {
    min-height: 80px;
}

mat-icon {
    cursor:pointer;
}

.input-class::placeholder{
    color: #fff;
}
.input-class{
    padding-left:10px;
}
.cursor {
    cursor: pointer;
}
.cursor:hover {
    color: blue;;
    text-decoration: underline;
}