
.main-div{
    height: 100%;
    width:100%;
   
}
.btn-attempt{
    text-transform: uppercase;
    color: #fff!important;
    background-color: #6e41c8;
 }
.message{
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    height: 80%;
    font-size: 1em;
    text-transform: none ;
}