<div class="container-fluid p-0">
    <div class="row m-0 rowheight">
        <div class="col-xl-12 col-lg-12 col-12  mb-3 pl-lg-0 pr-lg-0 pt-3">
            <div class="row ml-md-3">
                <div class="col-md-6 col-12">
                    <h2><b>Add new address</b></h2>
                </div>
                <!--/.col-->
                
                <div class="col-md-6 col-12 text-right">
                    <mat-icon (click)="dialogRef.close('N');">close</mat-icon>
                </div>
                <!--/.col-->    
            </div>
            <!--/.row-->
            
            <div class="col-12 px-lg-3" [formGroup]="addNewAddressFormGroup">
    
                <div class="row pt-3">
                    <div class="col-md-6 col-12">
                        <div class="box">
                            <div class="inputBox">
                                <mat-form-field appearance="outline">
                                    <mat-label>Address 1</mat-label>
                                    <input matInput formControlName="address_1" placeholder="Enter address..." required>
                                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                                    <mat-error *ngIf="addNewAddressFormGroup.get('address_1').hasError('required')">
                                        Enter address
                                    </mat-error>

                                </mat-form-field>
                            </div>                                
                        </div>    
                    </div>
                    <!--/.col-->
                    <div class="col-md-6 col-12">
                        <div class="box">
                            <div class="inputBox">
                                <mat-form-field appearance="outline">
                                    <mat-label>Address 2</mat-label>
                                    <input matInput formControlName="address_2" placeholder="Enter address...">
                                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                                                                    
                                </mat-form-field>
                            </div>                                
                        </div>    
                    </div>
                    <!--/.col-->
                    <div class="col-md-6 col-12">
                        <div class="box">
                            <div class="inputBox">
                                <mat-form-field appearance="outline">
                                    <mat-label>Address 3</mat-label>
                                    <input matInput formControlName="address_3" placeholder="Enter address...">
                                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                                                                  
                                </mat-form-field>
                            </div>                                
                        </div>    
                    </div>
                    <!--/.col-->
                    <div class="col-md-6 col-12">
                        <div class="box">
                            <div class="inputBox">
                                <mat-form-field appearance="outline">
                                    <mat-label>City</mat-label>
                                    <input matInput formControlName="city" placeholder="Enter city..." required>
                                    <mat-error *ngIf="addNewAddressFormGroup.get('city').hasError('required')">
                                        Enter city
                                    </mat-error>
                                  
                                </mat-form-field>
                            </div>                                
                        </div>    
                    </div>
                    <!--/.col-->
                    <div class="col-md-6 col-12">
                        <div class="box">
                            <div class="inputBox">
                                <mat-form-field appearance="outline">
                                    <mat-label>country</mat-label>
                                    <input matInput formControlName="country" placeholder="Enter country..." required>
                                    <mat-error *ngIf="addNewAddressFormGroup.get('country').hasError('required')">
                                        Enter country
                                    </mat-error>
                                  
                                </mat-form-field>
                            </div>                                
                        </div>    
                    </div>
                    <!--/.col-->
                    <div class="col-md-6 col-12">
                        <div class="box">
                            <div class="inputBox">
                                <mat-form-field appearance="outline">
                                    <mat-label>Postcode</mat-label>
                                    <input matInput formControlName="postcode" placeholder="Enter postcode..." required>
                                    <mat-error *ngIf="addNewAddressFormGroup.get('postcode').hasError('required')">
                                        Enter postcode
                                    </mat-error>
                                  
                                </mat-form-field>
                            </div>                                
                        </div>    
                    </div>
                    <!--/.col-->
                </div>

                <div class="row ml-md-3">

                    <div class="col-12 text-right">
                        <div>
                            <button  class="btn btn-attempt btn-sm my-4" type="button" [disabled]="isSubmit"  (click)="createAddress()">
                                <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>SAVE</button>
                        </div>
                    </div>
                    <!--/.col-->    
                </div>
                <!--/.row-->
            </div>
            <!--/. col -->
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    </div>
    <!--/. container-fluid-->
    