<div class="container-fluid p-0">
    <div class="row m-0 rowheight">
        <div class="col-xl-12 col-lg-12 col-12  mb-3 pl-lg-0 pr-lg-0 pt-3">
            <div class="row ml-md-3">
                <div class="col-md-6 col-12">
                    <!-- <h2><b>Add new address</b></h2> -->
                </div>
                <!--/.col-->
                
                <div class="col-md-6 col-12 text-right">
                    <mat-icon (click)="dialogRef.close('N');">close</mat-icon>
                </div>
                <!--/.col-->    
            </div>
            <!--/.row-->
            
            <div class="col-12 px-lg-3">
                <div class="content">
                    <div class="medias" fxLayout="row wrap" fxLayoutAlign="start">
    
                        <div class="media" fxFlex="100">
                            <!-- IMAGES  -->
    
                            <div class="media-content" fxLayout="column" fxFlex="1 1 auto">
                                <div fxLayout="row" fxLayoutAlign="start" class="footer pl-3 pt-3">
                                   <h2> Order ID: {{ orderData.id }}</h2>
                                </div>
    
                                <div fxLayout="row" fxLayoutAlign="start end" class=" footer text-color pt-3">
                                    <div fxLayout="column" fxLayoutAlign="start stretch">
                                        <p><b>customer details</b></p>
                                        <p><b>Name:</b> {{ orderData.customer_details.first_name }} {{ orderData.customer_details.second_name }}</p>
                                        <p><b>Email: </b>{{ orderData.customer_details.email }}</p>
                                        <p><b>Phone number: </b>{{ orderData.customer_details.phone_number }}</p>
                                        <p *ngIf="orderData.customer_details?.address"><b>Address: </b>{{ orderData.customer_details.address }}</p>

                                    </div>
                                   
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start" class="footer pl-3 pt-3">
                                    <div fxLayout="column" fxLayoutAlign="start stretch">
                                        <h2> Order Details</h2>
                                        <p><b>Store phone number:</b>{{ orderData.order_details?.store_number }}</p>
                                        <p><b>Order status:</b>{{ orderData.order_details.status }}</p>
                                        <p><b>Order date:</b>{{ (orderData.order_details.order_date) | date:'EEE, MMM d, y, h:mm:ss' }}</p>
                                        <p><b>Order slot:</b>{{ ((orderData?.order_details.start_slot)%12) }}pm - {{ ((orderData?.order_details.end_slot)%12) }}pm</p>
                                        <p><b>Delivery/Collection:</b><span *ngIf="orderData.order_details?.collection">Collection</span><span *ngIf="!orderData.order_details?.collection">Delivery</span></p>
                                        <p><b>Chef earnings:</b></p>
                                        <p><b>Notes:</b>{{ orderData.order_details.notes }}</p>
                                    </div>

                                </div>
                                <div class="content border text-color">
                                    <div *ngFor="let data of orderData.ordered_items">
                                        <div fxLayout="column" fxLayoutAlign="start stretch">
                                            <span><b>Product Name: </b><span class="text-align-right">{{ data.name}} </span></span>
                                            <span><b>Quantity: </b>{{ data.quantity}}</span>
                                            <span><b>Cost: </b>{{ (data.price/100)  | currency:'GBP'}}</span>
                                            <div *ngFor="let variant of data.variants">
                                                    <span><b>Variant name: </b>{{variant.name}}</span>
                                                    <div *ngFor="let option of variant.options" class="pl-3">
                                                        <span>{{option.name}}</span>
                                                    </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start" class="pl-3 pt-3">
                                    <div fxLayout="column" fxLayoutAlign="start stretch">
                                        <p><b>Payment details</b></p>
                                        <p><b>Order total:</b>{{ orderData.payment_details.order_total }}</p>
                                        <p><b>Delivery cost:</b>{{ orderData.payment_details.delivery_fee }}</p>
                                        <p><b>Promotional discount:</b>{{ orderData.payment_details.promo_discount }}</p>
                                        <p><b>Final total:</b>{{ orderData.payment_details.final_total }}</p>
                                        <p><b>Admin commission:</b>{{ orderData.payment_details.admin_commision }}</p>
                                        <p><b>Chef earnings:</b>{{ orderData.payment_details.chef_earnings }}</p>
                             
                                    </div>
                                 </div>
                
                            </div>
                            <!-- /IMAGES -->
    
                        </div>
                        
                    </div>
                       
                </div>
            </div>
            <!--/. col -->
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    </div>
    <!--/. container-fluid-->
    