.p-4 {
    padding: 4%;
}
.check {
    background-color: green;
    border-radius: 50%;
    color: white;
    margin-left: -90%;
}
.ncheck {
    background-color: red;
    border-radius: 50%;
    margin-left: -90%;
    color:white;
}

.hr {
    border: 1px solid gainsboro;
}
.p-2 {
    padding: 2%;
}
.w-50 {
    width: 50%;
}




