<div class="container-fluid height-100 home-bg">
  <div class="row justify-content-center h-100">
    <div class="col-12 my-auto home-padding">
      <h2 class = "text-white mb-1">Authentic Homecooked Food.</h2>
      <h2 class = "text-white mb-3">Delivered Straight To Your Door.</h2>
	  
	  <form class = "form-inline">
		<input type = "text"  id="autocomplete" class = "form-control form-control-lg search-input mr-3 mb-md-0 mb-3" placeholder = "Enter your Postcode...">
		<button class = "btn btn-search text-uppercase text-white btn-sm" type = "submit" (click)="searchAddress()">Search</button> 
	  </form>
	  <!--/. form -->
    </div>
	<!--/. col -->
  </div>
  <!--/. row -->
</div>
<!--/. container-fluid-->
<app-footer></app-footer>
