
  <mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" #sidenav opened position="start">
      <!-- <h2>Logo</h2> -->
      <div *ngIf="checkUserType">
        <img src="./assets/logo.jpeg" routerLink="/portal/dashboard" class="image" style="width: 100%;">
        <div fxLayout="column">
          
          <button mat-button  routerLink="/portal/dashboard" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
            Home</button>
          <mat-divider></mat-divider>
          <div *ngIf="!checkUserType">
              <button mat-button  routerLink="profile" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
                  Profile</button>
              <mat-divider></mat-divider>
          </div>
          
          <button mat-button routerLink="orders" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
            Orders</button>
            <mat-divider></mat-divider>
          <div *ngIf="checkUserType">
          <button mat-button  routerLink="customers" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
              Customers</button>
              <mat-divider></mat-divider>
          </div>
          <div *ngIf="checkUserType">
              <button mat-button  routerLink="chefs" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
                  Chefs</button>
              <mat-divider></mat-divider>
          </div>

          <div *ngIf="!checkUserType">
              <button mat-button  routerLink="products" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
                  Products</button>
              <mat-divider></mat-divider>
          </div>
          
          <div *ngIf="!checkUserType">
              <button mat-button  routerLink="menus" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
                  Menus</button>
              <mat-divider></mat-divider>
          </div>
          <div *ngIf="!checkUserType">
              <button mat-button  routerLink="schedules" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
                  Schedules</button>
              <mat-divider></mat-divider>
          </div>
          <div *ngIf="!checkUserType">
            <button mat-button  routerLink="payment" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
                Payments</button>
            <mat-divider></mat-divider>
          </div>

        </div>
      </div>
      <div *ngIf="!checkUserType">
        <img src="./assets/logo.jpeg" routerLink="/portal/dashboard" class="image" style="width: 100%;">
        <div fxLayout="column">
          
          <button mat-button  routerLink="/portal/dashboard" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
            Home</button>
          <mat-divider></mat-divider>
          <div *ngIf="!checkUserType">
              <button mat-button  routerLink="profile" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
                  Profile</button>
              <mat-divider></mat-divider>
          </div>
          
          <button mat-button routerLink="orders" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
            Orders</button>
            <mat-divider></mat-divider>
          <div *ngIf="checkUserType">
          <button mat-button  routerLink="customers" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
              Customers</button>
              <mat-divider></mat-divider>
          </div>
          <div *ngIf="checkUserType">
              <button mat-button  routerLink="chefs" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
                  Chefs</button>
              <mat-divider></mat-divider>
          </div>

          <div *ngIf="!checkUserType">
              <button mat-button  routerLink="products" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
                  Products</button>
              <mat-divider></mat-divider>
          </div>
          
          <div *ngIf="!checkUserType">
              <button mat-button  routerLink="menus" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
                  Menus</button>
              <mat-divider></mat-divider>
          </div>
          <div *ngIf="!checkUserType">
              <button mat-button  routerLink="schedules" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
                  Schedules</button>
              <mat-divider></mat-divider>
          </div>
          <div *ngIf="!checkUserType">
            <button mat-button  routerLink="payment" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
                Payments</button>
            <mat-divider></mat-divider>
          </div>

        </div>
      </div>
      
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
            Chef Portal
        <span class="toolbar-spacer"></span>
        <button mat-button (click)="logout()" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
            Logout</button>
      </mat-toolbar>
    
      <router-outlet></router-outlet>
     
    </mat-sidenav-content>
  </mat-sidenav-container>