<div>
  <div class="container-fluid order-section home-bg">
    <div class="row justify-content-center h-100">
      <div class="col-12 my-auto home-padding">
        <h2 class="text-white mb-1">Authentic Homecooked Food.</h2>
        <h2 class="text-white mb-3">Delivered Straight To Your Door.</h2>
        <!-- <form class="form-inline">
          <input type="text" id="autocomplete" class="form-control form-control-lg search-input mr-3 mb-md-0 mb-3"
            placeholder="Enter your Postcode...">
          <button class="btn btn-search text-white btn-sm" type="submit" (click)="searchAddress()">Search</button>
        </form> -->
        <div class="search-group">
          <input type="text" id="autocomplete" class="form-control form-control-lg search-input mr-3 mb-md-0 mb-3"
            placeholder="Enter your Postcode...">
          <button class="btn btn-search text-white btn-sm" type="submit" (click)="searchAddress()">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row question-section">
      <div class="text-center">
        <h1 class=question-header> What is Local MasterChefs?</h1>
      </div>
    </div>
    <div class="row basic-section justify-content-center">
      <div class="col-lg-4">
        <h1> Here's a bit about us...</h1>
        <div class="home-section-border"></div>
        <h2>
          Local MasterChefs is a new platform and food delivery service where you can order from talented homechefs
          and small businesses in your area making authentic homemade food and bakes from cuisines all around the world.
        </h2>
      </div>
      <div class="col-lg-4 text-center">
        <img src="/assets/images/home/about-us-image.jpg" class="basic-image" alt="">
      </div>
    </div>
    <div class="row question-section">
      <div class="text-center">
        <h1 class=question-header> So, how does it work?</h1>
      </div>
    </div>
    <div class="row three-step-section justify-content-center">
      <div class="col-lg-4 text-center">
        <div class="icon-container">
          <img src="/assets/images/home/step-one-icon.png" class="step-icon-image" alt="">
        </div>
        <h1>1. Pick your MasterChef</h1>
      </div>
      <div class="col-lg-4 text-center">
        <div class="icon-container">
          <img src="/assets/images/home/step-two-icon.png" class="step-icon-image" alt="">
        </div>
        <h1>2. Choose your dishes</h1>
      </div>
      <div class="col-lg-4 text-center">
        <div class="icon-container">
          <img src="/assets/images/home/step-three-icon.png" class="step-icon-image" alt="">
        </div>
        <h1>3. Get your meal delivered</h1>
      </div>
    </div>
    <div class="row question-section">
      <div class="text-center">
        <h1 class=question-header> Cool, so why Local MasterChefs?</h1>
      </div>
    </div>
    <div class="row three-step-section justify-content-center">
      <div class="col-lg-4 text-center">
        <div class="icon-container">
          <img src="/assets/images/home/why-one-icon.png" class="step-icon-image" alt="">
        </div>
        <h1>Support local homechefs and small businesses</h1>
      </div>
      <div class="col-lg-4 text-center">
        <div class="icon-container">
          <img src="/assets/images/home/why-two-icon.png" class="step-icon-image" alt="">
        </div>
        <h1>Explore new cultures through authentic dishes</h1>
      </div>
      <div class="col-lg-4 text-center">
        <div class="icon-container">
          <img src="/assets/images/home/why-three-icon.png" class="step-icon-image" alt="">
        </div>
        <h1>Enjoy a healthier lifestyle eating fresh homemade food</h1>
      </div>
    </div>
    <div class="row question-section">
      <div class="text-center">
        <h1 class=question-header> What about Hygiene?</h1>
      </div>
    </div>
    <div class="row basic-section justify-content-center">
      <div class="col-lg-4">
        <h1>Food Safety</h1>
        <div class="home-section-border"></div>
        <h2>
          The food our MasterChefs cook is fresh, healthy and tasty! All our homechefs have undergone extensive Food
          Safety and Hygiene
          training and have been approved by their local council.
        </h2>
        <h2>
          We take this very seriously at Local MasterChefs, as a result the standard of the chefs on our platform is
          very high.
        </h2>
      </div>
      <div class="col-lg-4 text-center">
        <img src="/assets/images/home/food-safety-image.jpg" class="basic-image" alt="">
      </div>
    </div>
    <div class="row question-section">
      <div class="text-center">
        <h1 class=question-header> Well, ready to order?</h1>
        <div style="margin-bottom: 2em;"></div>
        <button class="btn btn-search text-white btn-sm" type="submit" (click)="scrollToTop()">Yes please!</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>