<app-loader *ngIf = "showLoader"></app-loader>
<div fxLayout="column" *ngIf= "!showLoader">
    <div class="header-section" fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="row" fxLayoutGap="15px">
            <span class="bold">{{message}}</span>
        </div> 
        <mat-icon class="icon bold" (click)="dialogRef.close('N');">close</mat-icon>
     </div>
     <div id="login" fxLayout="column">

        <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center start" >
    
            <div id="login-form" >
                <form [formGroup]="createManuForm" fxLayot="column">

                    <mat-form-field appearance="outline" >
                        <mat-label>Menu Name</mat-label>
                        <input matInput formControlName="name" placeholder="Menu Name">
                        <mat-error *ngIf="createManuForm.get('name').hasError('required')">
                            Menu Name is required
                        </mat-error>
                        <mat-error *ngIf="!createManuForm.get('name').hasError('required') && 
                        createManuForm.get('name').hasError('minlength')">
                            Menu name should be at least 5 chars
                        </mat-error>
                      
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description" placeholder="Add description about Menu at least 15 chars."></textarea>
                        <mat-error *ngIf="createManuForm.get('description').hasError('required')">
                            Menu Description is required
                        </mat-error>
                        <mat-error *ngIf="!createManuForm.get('description').hasError('required') && 
                        createManuForm.get('description').hasError('minlength')">
                            Menu Description should be at least 15 chars
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Products</mat-label>
                        <mat-select formControlName="products" placeholder="Menu name" [multiple]="true" #multiSelect>
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No Products Found" 
                                [formControl]="productMultiFilterCtrl"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let product of filteredProductsMulti | async " [value]="product.id" >
                                {{product?._product_details?.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="createManuForm.get('products').hasError('required')">
                            Please, select products
                        </mat-error>
                      </mat-form-field>
                </form>

            </div>
            
        </div>
        <div class="button-section" fxLayout="row" fxLayoutAlign="end center" fxFlex="1 0 auto" *ngIf= "!showLoader">

            <div class="button-margin pl-4" fxLayout="row" fxLayoutGap="20px">
    
                <button mat-raised-button  type="submit" (click)="onSubmit($event)" [disabled]="isSubmit" 
                color="primary" fxFlex="80px" > 
                <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>Save</button>
                <button (click)="dialogRef.close('N');" mat-raised-button fxFlex="80px"> Cancel</button>
            </div>
        </div>
    
    </div>
    </div>

