<app-view-chef-navbar></app-view-chef-navbar>

<div class="container-fluid height-100 p-0">
<div class="row m-0 rowheight">
    <div class="col-xl-10 col-lg-10 col-12 mb-3 pl-lg-0 pr-lg-0 pt-3">
        <div class="row ml-md-4">
            <div class="col-md-10 col-12 pl-md-4">
                <p>Sorry... Something went wrong.</p>
            </div>
            <!--/.col-->
            
        </div>
        <!--/.row-->

        <hr class="hr">
    
        <div class="col-12 px-md-5">
            <p>Would you like to try again?</p>
    
            <button class="btn btn-attempt btn-sm mt-3" type="button" [routerLink]="'/checkout'">Attempt To order again</button>
        </div>
    </div>
    <!--/.col-->

</div>
<!--/.row-->
</div>
<!--/. container-fluid-->
<app-footer1></app-footer1>