html,body {
    height: 100%;
  } 
  .hr{
    border-bottom: 1px solid #ccc;
  }
 
  .btn-attempt{
     text-transform: uppercase;
     color: #fff!important;
     background-color: #6e41c8;
  }
  .height-100{
    height: 70vh;
  }