<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" >

    <div id="login" fxLayout="column">

        <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="start start">

            <div id="login-form">

                <div class="title">Welcome back, Let's get your order in!</div>

                <form [formGroup]="loginForm">

                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                        <mat-error>
                            Email is required
                        </mat-error>
                    
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" placeholder="password" [type]="pwdhide ? 'password' : 'text'">
                        <button type="button" mat-icon-button matSuffix (click)="pwdhide = !pwdhide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pwdhide">
                        <mat-icon  matSuffix class="secondary-text">{{pwdhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error>
                            Password is required
                        </mat-error>
                        
                    </mat-form-field>

                    <button mat-raised-button color="primary" class="submit-button" aria-label="LOG IN"
                    (click)="onLogin($event)" [disabled]="isSubmit">
                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                        LOGIN
                    </button>

                </form>

                <div class="register" fxLayout="column" fxLayoutAlign="center center">
                    <p class="font-weight-normal"><span class="text">Not registered?</span>
                    <a class="link text-dark" routerLink="/customer-signup">Create an account</a></p>
                </div>

            </div>

        </div>

    </div>
    
    <div id="login" fxLayout="column">

        <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="start start">

            <div fxLayout="column" fxLayoutAlign="center end">
                <img src="assets/login preview.jpg"  class="img-height">
                <div fxLayout="column" class="infodiv text-center" fxLayoutAlign="center center">
                    <p>The food  our MasterChefs cook is fresh,healthy and tasty! All our homechefs have undergone training and have been approved by therir local council.</p>
                </div>
                
            </div>

        </div>

    </div>
</div>
<app-footer1></app-footer1>