<br>
<section id="editform">
  <div class="col-md-12 form11">
    <div class="card" style="background-color: #f7f7f7e1;">
      <h2 class="header2"><b>Edit Profile</b></h2><br>
      <div class="card-body">
        <form #updateprofile="ngForm" (ngSubmit)="updateProfile()">

          <div >

             <div class="form-group">
              <label for="biography">BIOGRAPHY(120 chars min) : </label>
              <input type="text" class="form-control" #biography="ngModel" id="inputAddress" name="biography"
                [(ngModel)]="userData._chef_profile.biography">
            </div> 

          <div class="form-row">
              <div class="form-group col-md-6">
                <label for="image1">Profile picture image : </label>&nbsp;
                <input type="file" id="myFile" (change)="convertimage($event)" name="filename">
                <img  [src]="userData._chef_profile._chef_profile_image.media_url.url" class="profileimg" >
              </div>
              <div class="form-group col-md-6">
                <label for="image1">Profile baner image : </label>&nbsp;
                <input type="file" id="baner" (change)="convertbaner($event)" name="baner">
                <img  [src]="userData._chef_profile._chef_banner_image.media_url.url" class="profileimg" >

              </div>
            </div>

            <h2><b>Chef store Information</b></h2><br>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="first_name">First Name : </label>
                <input type="text" class="form-control" #first_name="ngModel" id="inputAddress" name="first_name"
                  [(ngModel)]="userData.first_name">
              </div>
              <div class="form-group col-md-6">
                <label for="second_name">Second Name : </label>
                <input type="text" class="form-control" #second_name="ngModel" id="inputAddress" name="second_name"
                  [(ngModel)]="userData.second_name">
              </div>
            </div>

            
            <div class="form-row">
              <div class="form-group col-md-6">
            <label for="address_1">Address 1 : </label>
            <input type="text" class="form-control"  #address_1="ngModel" id="inputAddress" name="address_1" [(ngModel)]="userData._chef_store._chef_store_address.address_1">
          </div>
        
          <div class="form-group col-md-6">
            <label for="address_2">Address 2 : </label>
            <input type="text" class="form-control"  #address_2="ngModel" id="inputAddress2" name="address_2"  [(ngModel)]="userData._chef_store._chef_store_address.address_2">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="address_3">Address 3 : </label>
            <input type="text" class="form-control"  #address_3="ngModel" id="inputAddress2" name="address_3" [(ngModel)]="userData._chef_store._chef_store_address.address_3">
          </div>
          
        </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="city">City :</label>
              <input type="text" class="form-control"  #city="ngModel" id="inputCity" name="city" [(ngModel)]="userData._chef_store._chef_store_address.city">
            </div>
            <div class="form-group col-md-3">
              <label for="country">country :</label>
              <input type="text" class="form-control"  #country="ngModel" id="inputCity" name="country"  [(ngModel)]="userData._chef_store._chef_store_address.country">
                         </div> 
             <div class="form-group col-md-3">
              <label for="postcode">PostCode :</label>
              <input type="text" class="form-control"  #postcode="ngModel" id="inputZip" name="postcode" [(ngModel)]="userData._chef_store._chef_store_address.postcode">
            </div>
            <div class="form-group col-md-3">
              <label for="postcode">Accepted Radius :</label>
              <input type="text" class="form-control"  #postcode="ngModel" id="inputZip" name="postcode" [(ngModel)]="userData._chef_store.accepted_radius">
            </div>
          </div>
          <!-- <div class="form-row">
          <div class="form-group col-md-6">
            <label for="collection">Collection : </label>
            <input type="text" class="form-control" #collection="ngModel" id="inputAddress2" name="collection" [(ngModel)]="userData.collection">
          </div>
          <div class="form-group col-md-6">
            <label for="inputAddress2">Delivery :  </label>
            <input type="text" class="form-control" #delivery="ngModel" id="inputAddress2" name="delivery" [(ngModel)]="userData.delivery">
          </div></div> -->
          <!-- <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Start Slots : </label>
              <input type="email" class="form-control" #postcode="ngModel" id="inputEmail4" name="" [(ngModel)]="userData.country">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">End Slots : </label>
              <input type="password" class="form-control" id="inputPassword4" >
            </div>
            </div> -->
           
         <!-- <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputAddress2">Start Delivery Slots :   </label><br>
            <input type="text" class="form-control" id="inputAddress2" >
          </div>
          <div class="form-group col-md-6">
            <label for="inputAddress2">End Delivery Slots :   </label><br>
            <input type="text" class="form-control" id="inputAddress2" >
          </div>
        </div>   -->
       
            <h2><b>Chef Information</b></h2>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" #email="ngModel" id="inputEmail4" name="email"
                  [(ngModel)]="userData.email">
              </div>
              <!-- <div class="form-group col-md-4">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" >
          </div> -->
              <div class="form-group col-md-6">
                <label for="phone_number">Phone Number:</label>
                <input type="text" class="form-control" name="email" id="inputPassword4" name="phone_number"
                  #phone_number="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  [(ngModel)]="userData.phone_number">
              </div>
            </div><br><br>
            <div class="form-group" id="updatebtn">
              <button type="submit" class="btn btn-primary">Update</button>&nbsp; &nbsp;
              <button routerLink="/home" class="btn btn-primary">Cancel</button>
            </div>
            <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</section><br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->