<app-loader></app-loader>
<app-view-chef-navbar (searchAddress)="getStoredAddress()"></app-view-chef-navbar>
<div fxLayout="column">

    <!-- CONTENT -->
    <div class="content">
    
        <!-- CENTER -->
        <div class="center p-24 pb-56" >
            <!-- CONTENT -->
            <div class="content mr">

                <div class="slider-image mb-3" fxShow="true" fxHide.lt-md="true">
                    <ng-image-slider #nav
                    [images]="imageObject"
                    [infinite]="false"
                    [imagePopup]="false"
                    [autoSlide]="1"
                    [imageSize]="{width: '10%', height: 100}"
                    slideImage="1"
                    (imageClick)="onImageClick($event)"></ng-image-slider>
                </div>
                <div class="slider-image mb-3" fxShow="true" fxHide.gt-sm="true">
                    <ng-image-slider #nav
                    [images]="imageObject"
                    [infinite]="false"
                    [imagePopup]="false"
                    [autoSlide]="1"
                    [imageSize]="{width: '50%', height: 100}"
                    slideImage="1"
                    (imageClick)="onImageClick($event)"></ng-image-slider>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start start" class="pt-3" fxLayoutGap="20px">

                    <mat-form-field appearance="outline">
                        <mat-select placeholder=  "Select Date" [multiple]="true" (selectionChange)="applyDateModeFilter($event.value)">
                            <mat-option *ngFor="let date of dateArr" [value]="date"><i class="fa fa-calendar" aria-hidden="true"></i><span>{{date | date:'EEE, MMM d'}}</span></mat-option>
                        </mat-select>
                       
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-select placeholder="Delivery/Collection" [multiple]="true" (selectionChange)="applyDeliveryModeFilter($event.value)">
                            <mat-option value="delivery">Delivery</mat-option>
                            <mat-option value="collection">Collection</mat-option>
                        </mat-select>
                       
                    </mat-form-field>
                    <!-- <mat-form-field appearance="outline">
                        <mat-select placeholder="ALLERGEN" [multiple]="true" #multiSelect (selectionChange)="applyAllergenModeFilter($event.value)">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No Allergense Found" 
                                [formControl]="AllergyMultiFilterCtrl"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let allergen of filteredAllergyMulti | async " [value]="allergen.id" >
                                {{allergen?.allergen_name}}
                            </mat-option>
                        </mat-select>
                       
                    </mat-form-field> -->

                    <mat-form-field appearance="outline">
                    <mat-select placeholder="Dietary Options" [multiple]="true" #multiSelect (selectionChange)="applyDiateryModeFilter($event.value)">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No Dietary Found" 
                            [formControl]="DietaryMultiFilterCtrl"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let diet of filteredDietaryMulti | async " [value]="diet.id" >
                            {{diet?.dietary_name}}
                        </mat-option>
                    </mat-select>
                    
                    </mat-form-field>
             
                </div>
            </div>
                
            <div class="pt-3 pl-3">
                <h2>{{category_name}}</h2>
                <mat-divider></mat-divider>
            </div>
        

            <div class="container-fluid py-3">
                <div class = "row mb-3">
                    <div class="col-lg-4 col-md-6 col-12 mb-3"  *ngFor="let chef of allChefsList">
                        <div class="card card-radius flex-lg-row flex-column p-3" routerLink="/view-chef/{{chef.id}}">
                            <img class="card-img-left img-fluid"   [src]="chef.banner_image?.media_url?.url" [alt]="chef.name"/>
                            <div class="card-body px-md-2 py-lg-0">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="card-title mb-0"><b>{{chef.name}}</b></h3>
                                        <hr class="my-2" style="border-bottom: 1px solid #ccc;">
                                    </div>
                                    <!--/.col-->
                                    <div class="col-md-6 col-12 mb-md-0 mb-3">
                                        <p class="card-text mb-1">{{chef.city}}</p>
                                        <!-- <p class="card-text">{{(chef.distance_from_user /1000) | number : '1.1'}} KM away</p> -->
                                        <p class="card-text">{{chef.distance_from_user | number : '1.1'}} Miles away</p>
                                    </div>
                                    <!--/.col-->
                                    <div class="col-md-6 col-12 mb-md-0 mb-3 text-center">
                                        <img [src]="chef.profile_image?.media_url?.url" [alt]="chef.name"  class="img-responsive img-user" alt="">
                                        <p class = "pl-md-0 pl-3">{{ chef.first_name }} {{ chef.second_name }}</p>    
                                    </div>
                                    <!--/.col-->
                                </div>
                                <!--/.row-->
                            </div>
                            </div>
                    </div>
                    <!--/.col -->  

                </div>    
                <!--/.row-->
            </div>    
            <div class="medias" fxLayout="row wrap" fxLayoutAlign="space-between start">

                <div *ngIf="allChefsList.length === 0" class="medias p-5" fxLayout="row wrap" fxLayoutAlign="center center">
                    <h2>No Chefs to display for the selected category</h2>
                </div>
                
            </div> 

        <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->
    </div>
    <!-- / CONTENT -->
    <app-footer1></app-footer1>
</div> 
