.btn-border {
    border: 1px solid white;
}

.pl-10 {
    padding-left: 1%;
}

.mr {
    // margin: 30px 66px;
    margin: 55px;
}
.p-10 {
    padding: 10%;
}

.p-5 {
    padding: 5%;
}

.slider-image {

    text-align: center;
    border: 2px solid gainsboro;
    padding: 1%;
    border-radius: 15px;
}

.medias {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;

    .no-medias {
        font-size: 24px;
        margin: 24px 0;
        text-align: center;
    }

    .media {
        padding: 16px;

        &:hover {

            .media-content {
                border: none;
                // @include mat-elevation(12);
                border: 1px solid gainsboro;
            }
        }       
        .img ,.mat-video{
            width: 130px;
            height: 150px;
            align-content: center;
            cursor: pointer;
            border-radius: 20px;
        }
        .profile-img {
            border-radius: 50%;
            height: 60px;
            width: 60px;
        }
        .media-content {
            min-height: 180px;
            border-radius: 20px;
            overflow: hidden;
            transition: box-shadow 200ms ease-in-out;
            border: 1px solid gainsboro;

            .content {
                padding: 14px;

                .h1 {
                    font-size: 16px;
                    text-align: center;
                }
            }

            .title {
                font-weight: 500;
                font-size: 20px;
            }

            .footer {
                box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
            }
            mat-icon {
                cursor: pointer;
                padding-right: 5%;
                padding-top: 2%;
            }
            .pt-4 {
                padding-top: 4%;
            }
           
        }
    }
}



p {
    font-family: Lato;
}

:host::ng-deep .mat-form-field-flex{
    background-color: #6e41c8;
    border-radius : 40px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.2);
    height:40px;
}
:host::ng-deep .mat-select-placeholder {
    color: #fff;
}

:host::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color:transparent;
}
:host::ng-deep .mat-select-value {
    color: #fff;
}
:host::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: transparent;
}
:host::ng-deep .mat-select-arrow {
    color: #fff;
}
:host::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.1em 0 1em 0!important;
}
.card-img-left{
    border-radius : 20px;
    cursor:pointer;
}

.profile-card-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
@media(max-width : 769px){
    .main-card-content {
        margin-top: 1em;
    }
    .profile-card-section {
        align-items: center;
        text-align: center;
    }    
}    

.profile-card-content {
    max-width: 90px;
    text-align: center;
}

.profile-name {
    text-align: center;
}

@media(min-width : 769px){
    .card-img-left{
        height : 160px;
        width : 160px;
        cursor:pointer;
    }
}
.img-user{
    height : 87px;
    width : 90px;
    border-radius : 50%;
    margin-bottom: 10px;
    cursor: pointer;
}
.card-radius{
    border-radius : 20px;
}
